code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

h3 {
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  color: black
}

form {
  width:500px;
  border: 3px solid black;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  padding-left: 30px;;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: skyblue
}

.input {
  text-align: center;
  width: 40%; 

}

.button {
  align-content: center;
  margin: 5px;
  padding-left: 30px;
  padding-right: 30px;
  width: 40%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: green;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}